/* HERO SECTION */
.hero-section {
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: space-evenly;

  background-image: radial-gradient(
    1000px circle at center,
    #121639 0%,
    #000000 100%,
    #1c1f45 100%
  );

  background-repeat: no-repeat;
 
}

/* HEADER FLOATING */
.hero-section header {
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* HERO CONTENT WRAPPER */
.hero-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

/* LEFT TEXT */
.hero-title {
  max-width: 420px;
}

/* TITLES */
.title-org {
  font-size: 72px;
  font-weight: 700;
  color: #df4c21;
  margin: 0;
  -webkit-text-stroke: 2px #fea70a;
}

.title-school {
  font-size: 72px;
  font-weight: 700;
  color: #007083;
  margin-top: -1rem;
  -webkit-text-stroke: 2px #b0f2fe;
}

/* TEXT */
.hero-description {
  margin-top: 1.5rem;
  font-weight: 600;
  color: #e99806;
}

.hero-date {
  margin-top: 1rem;
  font-size: 20px;
  color: #00d0f3;
}

/* IMAGE */
.hero-image-wrapper {
  flex-shrink: 0;
}

.hero-image {
  width: 100%;
  max-width: 580px;
  height: auto;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .hero-image-wrapper {
    margin-top: 2rem;
  }
}
